{% extends "base.html" %}
{% block title %} Manager Approval {% endblock%}
{% block content %}
<form method="POST">
<h1 align="center">Pending leaves</h1>
    <div id="leaves">
        {% for leave in leaves %}
        <div class="card border-dark">
            <div class="card-body">
                <div class="card-text"> 
                    Employee Name : {{leave.user.username}}<br>
                    Leave Application number : {{leave.leaveid}} <br>
                    Leave Start Date : {{leave.startdate}} <br>
                    Leave End Date : {{leave.enddate}}<br>
                    Comments : {{leave.comment}}<br>
                    <input hidden type="text"  id="leaveid" name="leaveid" value="{{leave.leaveid}}" >
                    <div align="center">
                        <button class="btn btn-danger" id ="action" name="action"type="submit" value="2"> <a href="/rejectleave/{{leave.leaveid}}">Reject</a></button> &nbsp;&nbsp;
                        <button class="btn btn-success" id="action" name="action" type="submit" value="1"> <a href="/approveleave/{{leave.leaveid}}">Approve</a> </button> &nbsp;
                    </div>
                    <br>
                </div>
                <div class="card-footer text-muted">
                    Leave applied on {{leave.leavedate_created}}
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}
